:root {
    transition: opacity 500ms ease-in-out;
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-dark-red: #8b0e0e;
    --toastify-light-red: #fd513e ;
    --toastify-color-transparent: hsla(0, 0%, 100%, .7);
    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);
    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;
    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;
    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;
    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;
    --toastify-color-progress-light: linear-gradient(90deg, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-color-transparent: hsla(0, 0%, 100%, .7);
    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);
    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;
    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;
    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;
    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;
    --toastify-color-progress-light: linear-gradient(90deg, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
    --footer-padding: 0
}

*,
:after,
:before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000
}
img {
    display: block;
    height: auto;
    max-width: 100%;
}

.justify-center {
    justify-content: center;
}
#mainContent {
    flex-direction: column;
    min-height: 100vh;
}

.generalImg {
    width: 1em; 
    height: 1em; 
    margin: 0px 0.05em 0px 0.1em;
}
.pr-1 {
    padding-right: .25rem;;
}
.border-b-2 {
    border-bottom-width: 2px;
}
.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235/var(--tw-border-opacity));
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.items-center {
    align-items: center;
}
.w-full {
    width: 100%;
}
.flex {
    display: flex;
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.mr-3 {
    margin-right: 0.75rem;
}
a {
    color: inherit;
    text-decoration: inherit;
}
.tracking-wide {
    letter-spacing: .025em;
}
.uppercase {
    text-transform: uppercase;
}
.font-bold {
    font-weight: 700;
}
h1, p {
    margin: 0;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0;
    line-height: inherit;
    overflow-x: hidden;
}
#mainImage {
    margin-top: 1em;
}

.bg-gray-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219/var(--tw-bg-opacity))
}
.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235/var(--tw-bg-opacity));
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

.p-1 {
    padding: .25rem;
}

.pl-1 {
    padding-left: .25rem;
}

.snigel-sidev {
    opacity: 1;
    pointer-events: none;
}

.row-title-text {
    font-weight: bold;
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.bottom-full {
    bottom: 100%
}

.col-span-1 {
    grid-column: span 1/span 1;
}
.col-span-2 {
    grid-column: span 2/span 2;
}
.col-span-3 {
    grid-column: span 3/span 3;
}
.col-span-7 {
    grid-column: span 7/span 7
}
.grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
}
.m-auto {
    margin: auto
}

.my-1 {
    margin-bottom: .25rem;
    margin-top: .25rem
}

.my-0\.5 {
    margin-bottom: .125rem;
    margin-top: .125rem
}

.my-2 {
    margin-bottom: .5rem;
    margin-top: .5rem
}

.mx-2 {
    margin-left: .5rem;
    margin-right: .5rem
}

.mr-3 {
    margin-right: .75rem
}

.ml-3 {
    margin-left: .75rem
}

.mt-4 {
    margin-top: 1rem
}

.mb-4 {
    margin-bottom: 1rem
}

.mb-2 {
    margin-bottom: .5rem
}

.mr-1 {
    margin-right: .25rem
}

.mb-1 {
    margin-bottom: .25rem
}

.ml-1 {
    margin-left: .25rem
}

.mt-6 {
    margin-top: 1.5rem
}

.inline-block {
    display: inline-block
}

.grid {
    display: grid;
}

.text-green-600 {
    --tw-text-opacity: 1;
    color: rgb(22 163 74/var(--tw-text-opacity))
}

.underline {
    text-decoration-line: underline
}

.text-center {
    text-align: center
}

.flex-auto {
    flex: 1 1 auto
}

.flex-grow {
    flex-grow: 1
}
.flex-col {
    flex-direction: column;
}

.max-w-lg {
    max-width: 32rem
}
.h-8 {
    height: 2rem;
}
.min-w-full {
    min-width: 100%;
}
.rounded {
    border-radius: 0.25rem;
}
input::placeholder, textarea::placeholder {
    color: #9ca3af;
    opacity: 1;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
.border-2 {
    border-width: 2px;
}
[role="button"], button, .cursor-pointer {
	cursor: pointer;
}
[type="button"], [type="reset"], [type="submit"], button {
    -webkit-appearance: button;
    appearance: button;
    background-color: initial;
    background-image: none;
}
.max-h-52 {
	max-height: 13rem;
}
ul[role="listbox"] {
    list-style-type: none;
    padding: 0.04em;
    margin: auto;
}
ul[role="listbox"] > li {
    margin: 0.1em;
}
ul[role="listbox"] > li[aria-selected="true"] {
    margin: 0.15em;
}
.overflow-auto {
    overflow: auto;
}
.text-ellipsis {
    text-overflow: ellipsis;
}
.overflow-hidden {
    text-overflow: hidden;
}
#midContent {
    flex-grow: 1;
    flex-direction: column;
}
footer {
    margin-bottom: 0.5em;
}
.gap-1 {
    gap: .25em;
}
.gap-2 {
    gap: 1em;
}
#wonImg {
    font-size: 150%;
}
text.county { 
    fill: #ccc; 
    font-family: Helvetica 
}
#helpMap > g > path { 
    stroke:#888; 
    stroke-width:2
}
#toggleColoured {
    position: absolute;
    transform: translate(14em, -9em);
    padding: 2px;
}
.valign {
    vertical-align: -0.1rem;
}
.transition-all {
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.animate-reveal {
    -webkit-animation: fadeIn .2s forwards;
    animation: fadeIn .2s forwards;
}
