:root {
    transition: opacity 500ms ease-in-out;
    --main-bg: ;
    --back-bg: ;
    --front-bg: ;
    --button-bg: ;
    --hover-bg: ;
    --text: ;
    --text2: ;
    --text3: ;
    --border: ;
    --main-green: ;
    --city-bg: ;
    --main-red: rgb(204, 0, 0);
    --toastify-color-info: #3498db;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --ghost-button-bg: ;
    --brightness: ;
    --hover-brightness: ;
}

*,
:after,
:before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}
img {
    display: block;
    height: auto;
    max-width: 100%
}

.justify-center {
    justify-content: center
}
#mainContent, #settingsPage, #aboutPage, #statsPage {
    color: var(--text);
    border-color: var(--border);
    flex-direction: column;
    min-height: 100vh;
    user-select: none
}

.generalImg {
    width: 1em; 
    height: 1em; 
    margin: 0px 0.05em 0px 0.1em
}
.pr-1 {
    padding-right: .25rem;
}
.border-b-2 {
    border-bottom-width: 2px
}
.border-gray-200 {
    border-color: var(--border)
}
.px-1 {
    padding-left: .25rem;
    padding-right: .25rem
}
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem
}
.items-center {
    align-items: center
}
.w-full {
    width: 100%
}
.h-full {
    height: 100%
}
.flex {
    display: flex
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}
.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem
}
.mr-3 {
    margin-right: 0.75rem
}
a {
    color: inherit;
    text-decoration: inherit
}
.tracking-wide {
    letter-spacing: .025em
}
.uppercase {
    text-transform: uppercase
}
.font-bold {
    font-weight: 700
}
h1, p {
    margin: 0
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0;
    line-height: inherit;
    overflow-x: hidden
}
#mainImage {
    margin-top: 1em
}

.bg-gray-300 {
    background-color: var(--button-bg)
}
.bg-gray-200 {
    background-color: var(--front-bg)
}
.bg-white {
    background-color: var(--main-bg)
}
.text-gray-500 {
    color: var(--text2)
}

.p-1 {
    padding: .25rem
}

.pt-1 {
    padding-top: .25rem;
}

.pb-1 {
    padding-bottom: .25rem;
}

.pl-1 {
    padding-left: .25rem
}

.snigel-sidev {
    opacity: 1;
    pointer-events: none
}

.row-title-text {
    font-weight: bold
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.bottom-full {
    bottom: 100%
}

.col-span-1 {
    grid-column: span 1/span 1
}
.col-span-2 {
    grid-column: span 2/span 2
}
.col-span-3 {
    grid-column: span 3/span 3
}
.col-span-7 {
    grid-column: span 7/span 7
}
.grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr))
}
.m-auto {
    margin: auto
}

.my-1 {
    margin-bottom: .25rem;
    margin-top: .25rem
}

.my-0\.5 {
    margin-bottom: .125rem;
    margin-top: .125rem
}

.my-2 {
    margin-bottom: .5rem;
    margin-top: .5rem
}

.mx-2 {
    margin-left: .5rem;
    margin-right: .5rem
}

.mr-3 {
    margin-right: .75rem
}
.mr-8 {
    margin-right: 2rem
}

.ml-3 {
    margin-left: .75rem
}

.mt-4 {
    margin-top: 1rem
}

.mb-4 {
    margin-bottom: 1rem
}

.mb-2 {
    margin-bottom: .5rem
}

.mr-1 {
    margin-right: .25rem
}

.mb-1 {
    margin-bottom: .25rem
}

.ml-1 {
    margin-left: .25rem
}

.mt-6 {
    margin-top: 1.5rem
}

.inline-block {
    display: inline-block
}

.grid {
    display: grid
}

.text-green-600 {
    color: var(--main-green);
}
.back-green-600 {
    background-color: var(--main-green);
}
.fill-green-600 {
    fill: var(--main-green);
}

.underline {
    text-decoration-line: underline
}

.text-center {
    text-align: center
}

.flex-auto {
    flex: 1 1 auto
}

.flex-grow {
    flex-grow: 1
}
.flex-col {
    flex-direction: column
}

.max-w-lg {
    max-width: 32rem
}
.h-8 {
    min-height: 2rem
}
.min-w-full {
    min-width: 100%
}
.rounded {
    border-radius: 0.25rem
}
input::placeholder, textarea::placeholder {
    color: var(--text2);
    opacity: 1
}
button, input, optgroup, select, textarea {
    color: inherit;
    border-color: var(--border);
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0
}
input {
    background-color: var(--button-bg);
}
input[type="text"] {
    background-color: unset;
}
button:hover:not(.inactive-button), optgroup:hover, [role="button"]:hover:not(.inactive-button) {
    background-color: var(--hover-bg);
}
select, optgroup {
    background-color: var(--button-bg);
}
.border-2 {
    border-width: 2px
}
[role="button"], a, button:not(.inactive-button), .cursor-pointer {
	cursor: pointer
}
[type="button"], [type="reset"], [type="submit"], button {
    -webkit-appearance: button;
    appearance: button;
    background-color: unset;
    background-image: none
}
.max-h-52 {
	max-height: 13rem
}
ul[role="listbox"] {
    list-style-type: none;
    padding: 0.04em;
    margin: auto
}
ul[role="listbox"] > li {
    margin: 0.1em
}
ul[role="listbox"] > li[aria-selected="true"] {
    margin: 0.15em
}
.overflow-auto {
    overflow: auto
}
.overflow-hidden {
    text-overflow: hidden
}
#midContent {
    flex-grow: 1;
    flex-direction: column
}
footer {
    margin-bottom: 0.5em
}
.gap-1 {
    gap: .25em
}
.gap-2 {
    gap: 1em
}
#wonImg {
    font-size: 150%
}
#textgroup {
    fill: #000; 
    font-family: Helvetica 
}
svg > g > path {
    fill: var(--text) !important;
    stroke: unset !important;
    stroke-width: 0% !important;
    stroke-linecap:round !important;
    stroke-linejoin:round !important;
    fill-rule: nonzero !important
}
#helpMap > g > path {
    fill: #fff !important;
}
#mapArea {
    overflow: hidden;
    align-content: space-around;
}
#helpMap > g > path { 
    stroke: var(--border2) !important;
    stroke-width:2 !important
}
#helpMap:hover {
    cursor: grab;
}
#toggleColoured {
    transform: translate(50%, 50%);
    padding: 2px
}
#toggleLabels {
    transform: translate(180%, 55%);
    padding: 2px
}
#toggleCities {
    transform: translate(310%, 50%);
    padding: 2px
}
.valign {
    vertical-align: -0.1rem
}
.transition-all {
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}
.trans05 {
    transition-duration: 50ms;
}
#settingsPage, #aboutPage, #statsPage ,#backdrop {
    position: absolute;
    background-color: var(--main-bg)
}
.italic {
    font-style: italic
}
.text-sm {
    font-size: .875rem
}
.w-16 {
    width: 6rem
}
html {
    background-color: var(--main-bg)
}
span#next-round > svg:hover, span#prev-round > svg:hover {
    filter: brightness(var(--hover-brightness));
}
[role="listbox"]::-webkit-scrollbar {
    background-color: var(--button-bg);
}
[role="listbox"]::-webkit-scrollbar-thumb {
    background-color: var(--text2);
    border-radius: 15%;
}
[role="listbox"]::-webkit-scrollbar-thumb:hover {
    background-color: var(--text3);
}
.question {
    text-align: center;
}
.col-span-6 {
    grid-column: span 6/span 6;
}

.flex-wrap {
    flex-wrap: wrap;
}

#loaded-coatofarms {
    display: none
}

@keyframes shake {
    0% { transform: translate(5px, 0px)}
    10% { transform: translate(1px, 0px)}
    20% { transform: translate(-3px, 0px)}
    30% { transform: translate(-7px, 0px)}
    40% { transform: translate(-3px, 0px)}
    50% { transform: translate(1px, 0px)}
    60% { transform: translate(3px, 0px)}
    70% { transform: translate(1px, 0px)}
    80% { transform: translate(-1px, 0px)}
    90% { transform: translate(1px, 0px)}
    100% { transform: translate(1px, 0px)}
}

.shake {
    animation: shake 0.2s;
}

.wrong-img {
    border: solid var(--main-red) 4px !important
}

.good-img {
    border: solid var(--main-green) 4px !important
}

.stat-img {
    width: auto;
    height: 3rem;
}

.ghost {
    background: var(--ghost-button-bg); 
}
circle[capitalof] {
    r: 3;
    stroke-width: 1px;
    stroke: var(--main-red);
}

.guesslabel {
    grid-column: 3 / 6;
    margin-top: 5px;
    display: flex;
    border-color: var(--border);
    background: var(--button-bg);
    border-radius: 10px;
    padding: 10px;
}

#mainImage > svg > circle {
    fill: var(--city-bg);
}
#mainImage > svg > circle[capitalof] {
    stroke: var(--back-bg)
}

@keyframes flashing {
    0% { filter: brightness(10000%); }
    10% { filter: brightness(400%); }
    20% { filter: brightness(100%); }
    30% { filter: brightness(400%); }
    40% { filter: brightness(10000%); }
    50% { filter: brightness(400%); }
    60% { filter: brightness(1000%); }
    70% { filter: brightness(400%); }
    80% { filter: brightness(10000%); }
    90% { filter: brightness(400%); }
    100% { filter: brightness(100%); }
}

.flash {
    animation: flashing 1s;
}